:root {
    --clr-primary-400 : hsla(54, 42%, 91%, 1);

    --clr-text-primary-900 : hsla(0, 0%, 0%, 1);
    --clr-text-primary-400 : hsla(0, 0%, 31%, 1);

    --ff-primary: 'Poppins', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: 'Playfair Display', serif;

    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;

    --fw-nav: var(--fw-regular);

    --fs-900: 3.25rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-100: 0.875rem;

    --fs-body: var(--fs-500);


    --size-100: 0.875rem;
    --size-400: 1rem;
    --size-500: 1.25rem; 
    --size-600: 1.5rem; 
    --size-700: 1.875rem; 
    --size-750: 2rem; 
    --size-800: 3rem;
    --size-900: 5rem;

}

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLING */
body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
}

button {
    border: 0;
    background-color: transparent;
}

h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    line-height: 1.2;
}

p {
    max-width: 90%;
    line-height: 1.6;
}


/* navbar */

.primary-header {
    padding-top: var(--size-700);
    position: relative;
}

.primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / .8));
}

@media (min-width: 48em) {
    .primary-header::before {
        display: none;
    }
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;

    /* position: relative; */
}


.nav-list {
    display: flex;
    gap: var(--size-700);
    text-align: center;
    font-weight: var(--fw-regular);
}


.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--clr-text-primary-900);
    text-transform: uppercase;
    font-size: var(--fs-400);
}
.nav-link::after{
    content: '';

    position: absolute;
    bottom: 0 ;
    left: 0 ;
    width: 0;
    height:1px;
    background-color: #BDBDBD;
    transition: all 0.4s ease-in-out;

}
.nav-link:hover::after{
    width: 25%;

}

.nav-link.active::after {
    content: '';

    position: absolute;
    bottom: 0 ;
    left: 0 ;
    width: 25%;
    height:1px;
    background-color: #000;
}

.mobile-nav-toggle {
    cursor: pointer;
    border: 0;
    width: var(--size-600);
    aspect-ratio: 1;

    display: none;
    position: fixed;
    top: var(--size-700);
    right: var(--size-400);
    z-index: 999;

    background-color: transparent;
    background-image: url('images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transition: all 0.1s ease-in;
}

.mobile-nav-toggle.open {
    background-image: url('images/icon-close.svg')
}

.primary-navigation.visible {
    display: block;
}

@media (max-width: 48em) {
    .primary-navigation {
        display: none;
    
        position: fixed;
        padding: var(--size-700);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-inline: auto;
        background-color: white;
        border-radius: var(--size-100);
        box-shadow: 0 0 0 4px #ffffff0d;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-700);
        text-align: center;
        font-weight: var(--fw-regular);
    }
    
    .mobile-nav-toggle {
        display: block;
    }
}

/* Navbar end */

/* hero-section */

.hero-section {
    padding-top: var(--size-800);
}

@media (min-width: 48em) {
    .hero-section {
        padding-top: var(--size-900)
    }
}

.hero__text {
    display: grid;
    gap: var(--size-750);
    /* padding: var(--fs-400); */

}




/* UTILITY CLASSES */

.container {
    --max-width: 1110px;
    --container-padding: var(--size-400);

    width: min(var(--max-width), 100% - (var(--container-padding) *2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: var(--size-600);
}

@media (min-width: 48em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.tx-center-sm-only {
    text-align: center;
}

.fs-small {
    font-size: var(--fs-400);
}
.fs-xsmall {
    font-size: var(--fs-100);
}

/* buttons */

.cta-container {
    display: flex;
    flex-direction: column;
    /* grid-auto-flow: row; */
    gap: var(--size-400);

}

.btn-primary {
    background-color: var(--clr-primary-400);
    max-width: 100%;
    padding: 14px 25px;
    border-radius: 19px;

    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
}

.btn-secondary {
    display: flex;
    position: relative;
    margin-inline: auto ;
    max-width: max-content;
    /* padding: 0.5em 1.25em; */

    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    text-decoration: underline;
}

.btn-secondary__text {
    margin-right: 8px ;
    transition: all 0.4s ease-in-out;
}

.btn-secondary__text:hover {
    margin-right: var(--size-400);
}

/* social proof */

.social-proof {
    margin-top: var(--size-600);
    position: relative;
    /* max-width: 75%; */
    padding: var(--size-700) var(--size-600);
    border: 1px solid #000;
    border-radius: var(--size-500);
    box-shadow: 15px 9px 30px 0px hsla(0, 0%, 63%, 0.25);
}

.social-proof::before {
    content: url('images/confetti.svg');
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.social-proof__heading {
    font-size: var(--fs-700);
    margin-bottom: var(--size-100);
}


@media (min-width: 48em) {
    .tx-center-sm-only {
        text-align: left;
    }

    h1 {
        font-size: var(--fs-900);
        line-height: 1.4;
    }

    .cta-container {
        flex-direction: row;
        align-items: center;
        justify-self: flex-start;
    }

    .social-proof {
        max-width: 75%;
        display: flex;
        gap: var(--size-800);
        padding: var(--size-800) var(--size-800);
    }
    .social-proof p {
        max-width: 75%;
    }
}


